body{
   /*background-image: url("memorybg.jpeg");*/
    background: #22C1C3;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-family:'Courier New', Courier, monospace ;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/*layout of the memory board*/
#memboard{
    height: 532px;
    width: 475px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: orange;
    border: 10px solid black;

}

/*card sizing & spacing etc*/
.card{
    height: 120px;
    width: 90px;
    margin: 2.5px;

}